@font-face {
    font-family: 'pokemon';
    src: url(pokemon/Pokemon\ Solid.ttf);
    font-style: normal;
    font-weight: 100;
}

body {
    background-image: url(./background.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    color: #3a5da8;
    font-family: pokemon;
    font-weight: 100;
    text-shadow: 2px 0 0 #ffcb05, -2px 0 0 #ffcb05, 0 2px 0 #ffcb05, 0 -2px 0 #ffcb05, 1px 1px #ffcb05, -1px -1px 0 #ffcb05, 1px -1px 0 #ffcb05, -1px 1px 0 #ffcb05;
}