body {
    background-image: url(./background.jpg), linear-gradient(black, darkgrey);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: overlay;
    color: white;
}

.search-container {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items:flex-end;
}

.search-input {
    width: 500px;
}